:root {
      --primary-color: #00A5EC;
      --title-color: #3a226b;
      --subtitle-color: #533199;
      --ff-primary:'Noto Sans', sans-serif;
      --ff-secondary: "Poppins", helvetica;
      --ff-tertiary: 'Montserrat',verdana;
    }
    